<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main.java.mybatis.mapper.TheaterInfoMapper">

	<select id="selectAll"
		resultType="main.java.mybatis.entity.TheaterInfo">
		SELECT * FROM THEATER_INFO
	</select>

	<select id="selectAllRetMap" resultType="hashmap">
		SELECT * FROM
		THEATER_INFO
	</select>

	<select id="selectByPrimaryKey"
		resultType="main.java.mybatis.entity.TheaterInfo">
		SELECT * FROM THEATER_INFO WHERE THEATER_ID = #{theaterId}
	</select>

	<insert id="insert">
		INSERT INTO THEATER_INFO VALUES(#{theater_id},
		#{theater_nm}, #{prefectures_cd})
	</insert>

	<update id="update">
		UPDATE THEATER_INFO SET THEATER_NM = #{theater_nm}
		WHERE THEATER_ID = #{theater_id}
	</update>

	<delete id="delete">
		DELETE FROM THEATER_INFO WHERE THEATER_ID =
		#{theater_id}
	</delete>

	<select id="selectCount" parameterType="string" resultType="int">
		SELECT COUNT(*) FROM THEATER_INFO WHERE THEATER_ID = #{theater_id}
	</select>

	<select id="ifTagTest"
		resultType="main.java.mybatis.entity.TheaterInfo">
		SELECT * FROM THEATER_INFO
		<where>
			<if test="theater_id != null and theater_id != ''">
				THEATER_ID = #{theater_id}
			</if>
			<if test="theater_nm != null and theater_nm != ''">
				and theater_nm like CONCAT('%', #{theater_nm}, '%')
			</if>
		</where>
	</select>

	<select id="forEachTagTest"
		resultType="main.java.mybatis.entity.TheaterInfo">
		SELECT * FROM THEATER_INFO
		<where>
			<foreach item="item" index="index" collection="theaterIdList"
				open="theater_id in(" separator="," close=")" nullable="true">
				#{item}
			</foreach>
		</where>
	</select>
</mapper>